@using chd.UI.Base.Client.Implementations.Authorization
@using chd.UI.Base.Contracts.Enum
@inherits chd.UI.Base.Components.Base.PageComponentBase<int,int>
@page "/controlcenter"
@attribute [chdAuthorize<int>(Rights = new int[] { RightConstants.ControlBoard })]

@if (this._dto is not null)
{
    <div class="control-center">
        <div class="maneouvres">
            @foreach (var maneouvre in this._dto.ManeouvreLst.FirstOrDefault().Value.OrderBy(o => o.Id))
            {
                <div class="maneouvre">
                    <div class="figur-id">@maneouvre.Id.ToString("D2")</div>
                    <div class="figur">@maneouvre.Name (@maneouvre.Value)</div>
                    <div class="judge-scores">
                        @foreach (var judge in this._dto.Judges.OrderBy(o => o.Id))
                        {
                            <div class="@(this._scoreClass(judge, maneouvre))">
                                <div class="judge-score ">@_score(judge, maneouvre)</div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
}