@inherits chd.UI.Base.Components.Base.PageComponentBase<int,int>
@page "/settings"
@using chd.UI.Base.Client.Implementations.Authorization
@using chdScoring.App.UI.Pages.Components
@attribute [chdAuthorize<int>(Rights = new int[] { RightConstants.Setting })]

<div class="settings">
    <div class="setting">
        Version: @this._currentVersion
    </div>
    <div class="setting">
        Wifi: @this._wifiService.SSID - (@this._wifiService.SignalLevel) - @this._wifiService.IPAddress 
    </div>
    <div class="setting">
        Theme: <ThemeModeButton />
    </div>
    <div class="setting">
        Basis Adresse:
        <input type="text" value="@this._baseAddress" @onchange="async (e)=>await this.UpdateMainUrl(e)" />
    </div>
    <div class="setting">
        Battery Limit:
        <input type="number" step="0.5" value="@this._batteryLimit" @onchange="async (e)=>await this.UpdateBatteryLimit(e)" />
    </div>
    <div class="setting">
        <SettingCheckbox SettingText="Navigation automatisch ausblenden" Checked="@this._autocollapseNav" OnChange="async (e)=> await UpdateAutoCollapeseNavBar(e)" />
    </div>
    <div class="setting">
        Auto Redirect:
        <Selection Values="@this._redirectOptions" @bind-SelectedValue="this.SelectedAutoRedirect" />
    </div>
    <div class="setting">
        <SettingCheckbox SettingText="Entwickler Modus" Checked="@this._developerMode" OnChange="async (e)=> await UpdateDeveloperMode(e)" />
    </div>
</div>