@inherits chd.UI.Base.Components.Base.PageComponentBase<int,int>
@page "/settings"

<h3>Settings</h3>
<p>
    Basis Adresse:
    <input type="text" value="@this._baseAddress" @onchange="async (e)=>await this.UpdateMainUrl(e)" />
</p>

<SettingCheckbox SettingText="Als ControlCenter verwenden" Checked="@this._isControlCenter" OnChange="async (e)=> await UpdateIsControlCenter(e)" />
<SettingCheckbox SettingText="Navigation automatisch ausblenden" Checked="@this._autocollapseNav" OnChange="async (e)=> await UpdateAutoCollapeseNavBar(e)" />


<select class="form-control" @onchange="this.OnAutoRedirectChanged">
    @foreach (var redirectOption in this._redirectOptions)
    {
        <option value="@redirectOption.Key" selected="@(redirectOption.Key == this._autoRedirect)">@redirectOption.Value</option>
    }
</select>