@page "/settings"

<h3>Settings</h3>
<p>
    Basis Adresse:
    <input type="text" value="@this._baseAddress" @onchange="async (e)=>this.UpdateMainUrl(SettingConstants.BaseAddress, e)" />
    <button @onclick="TestConnection">Test</button>
</p>
@if (this._judgeDtos != null && this._judgeDtos.Any())
{
    <p>
        Judge:
        <select @onchange="async(e)=>this.UpdateJudge(SettingConstants.Judge,e)">
            <option value="0">Keine Auswahl</option>
            @foreach (var judge in this._judgeDtos.OrderBy(o => o.Id))
            {
                if (this._judge == judge.Id)
                {
                    <option selected value="@judge.Id">@judge.Name</option>
                }
                else
                {
                    <option value="@judge.Id">@judge.Name</option>
                }
            }
        </select>
    </p>
}

