@using chdScoring.App.Helper;
@using chdScoring.App.Services;
@using chdScoring.Contracts.Dtos;

<div class="score-panel @(this.PanelDisabled ? "panel-disabled" : "")">

    <div class="pilot">
        @this.Pilot?.Id @this.Pilot?.Name
    </div>

    <div class="maneouvre">
        @this._maneouvreText
    </div>

    <div class="score-pad">
        <div class="score-control">
            <div class="score-control-button">
                <IconButton FAClass="floppy-disk" Style="chd.UI.Base.Contracts.Enum.EIconStyle.Regular" OnClick="Save" />
            </div>
             <div class="score-control-value">@_scoreValueText</div>
             <div class="score-control-button">
                  <IconButton FAClass="delete-left" Style="chd.UI.Base.Contracts.Enum.EIconStyle.Regular" OnClick="Delete" />
            </div>
        </div>
        <div class="score-numpad">
            <IconButton FAClass="1" OnClick="async (x) => await this.Calc(1)" />
            <IconButton FAClass="2" OnClick="async (x) => await this.Calc(2)" />
            <IconButton FAClass="3" OnClick="async (x) => await this.Calc(3)" />
            <IconButton FAClass="4" OnClick="async (x) => await this.Calc(4)" />
            <IconButton FAClass="5" OnClick="async (x) => await this.Calc(5)" />
            <IconButton FAClass="6" OnClick="async (x) => await this.Calc(6)" />
            <IconButton FAClass="7" OnClick="async (x) => await this.Calc(7)" />
            <IconButton FAClass="8" OnClick="async (x) => await this.Calc(8)" />
            <IconButton FAClass="9" OnClick="async (x) => await this.Calc(9)" />

            <IconButton FAClass="0" OnClick="async (x) => await this.Calc(0)" />

            <IconButton FAClass="comma" OnClick="async (x) => await Task.CompletedTask" />
            <IconButton FAClass="eye-slash" OnClick="async (x) => await this.NotObserved()" />
        </div>
    </div>
</div>
